Repository dkrystki/opensource: changes, and which pre-commit hooks are due for each by the changed paths.
All: comm-isort, comm-black, envo-isort, envo-black, pangea-isort, pangea-black, rhei-isort, rhei-black, stickybeak-isort, stickybeak-black

comm-isort:
  name: 'Comm: Sort imports.'
  entry: .bin/isort
  language: script

comm-black:
  name: 'Comm: Make it black.'
  entry: .bin/black
  language: script

envo-isort:
  name: 'Envo: sort imports.'
  entry: .bin/isort
  language: script

envo-black:
  name: 'Envo: Make it black.'
  entry: .bin/black
  language: script

pangea-isort:
  name: 'Pangea: sort imports.'
  entry: .bin/isort
  language: script

pangea-black:
  name: 'Pangea: Make it black.'
  entry: .bin/black
  language: script

rhei-isort:
  name: 'Rhei: sort imports.'
  entry: .bin/isort
  language: script

rhei-black:
  name: 'Rhei: Make it black.'
  entry: .bin/black
  language: script

stickybeak-isort:
  name: 'Stickybeak: sort imports.'
  entry: .bin/isort
  language: script

stickybeak-black:
  name: 'Stickybeak: Make it black.'
  entry: .bin/black
  language: script

[os] Add CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
  comm/.gitlab-ci.yml
  comm/.pre-commit-config.yaml
  comm/comm/comm.py
  comm/comm/py.typed
  comm/comm/tests.py
  comm/env_comm.py
  comm/plasma_comm/py.typed
  comm/poetry.lock
  comm/pyproject.toml
  env_comm.py
  envo/.gitlab-ci.yml
  envo/envo/env.py
  envo/envo/scripts.py
  envo/pyproject.toml
  envo/tests/test_e2e.py
  poetry.lock
  pyproject.toml
  stickybeak/.pre-commit-config.yaml
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Refactor, add comm lib.
  .gitignore
  .gitlab-ci.yml
  comm/comm/__init__.py
  comm/comm/py.typed
  comm/comm/tests.py
  envo/.bin/generate_version
  envo/.bin/recreate_stubs
  envo/.gitlab-ci.yml
  envo/envo/comm
  envo/envo/scripts.py
  envo/envo/templates/env_comm.templ.py
  envo/poetry.lock
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
  envo/tests/utils.py
Due: comm-isort, comm-black, envo-isort, envo-black

[comm, envo] Fix missing export in bashrc
  .bin/recreate_stubs
  .gitlab-ci.yml
  comm/.bin/flake8_
  comm/.gitlab-ci.yml
  comm/comm/fixtures.py
  comm/comm/utils.py
  comm/env_comm.py
  comm/mypy.ini
  comm/poetry.lock
  comm/pyproject.toml
  comm/tests/conftest.py
  comm/tests/test_all.py
  envo/.bin/recreate_stubs
  envo/.gitlab-ci.yml
  envo/envo/comm
  envo/envo/comm/__init__.py
  envo/envo/comm/fixtures.py
  envo/envo/comm/utils.py
  envo/envo/env.py
  envo/envo/scripts.py
  envo/envo/templates/env.py.templ
  envo/envo/templates/env_comm.py.templ
  envo/mypy.ini
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
  envo/tests/utils.py
  poetry.lock
  pyproject.toml
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Fix sys.path issue
  comm/.bin/flake8
  envo/envo/scripts.py
  envo/pyproject.toml
  pangea/pangea/scripts.py
  pangea/pangea/templates/env_comm.templ.py
  pangea/poetry.lock
  pangea/pyproject.toml
  pangea/tests/conftest.py
  pangea/tests/test_all.py
  poetry.lock
  pyproject.toml
Due: envo-isort, envo-black, pangea-isort, pangea-black

[pangea] Add CI, add tests.
  .gitlab-ci.yml
  envo/envo/scripts.py
  pangea/.gitlab-ci.yml
  pangea/env_comm.py
  pangea/env_local.py
  pangea/pangea/comm
  pangea/poetry.lock
  pangea/pyproject.toml
  pangea/tests/utils.py
  poetry.lock
  pyproject.toml
Due: envo-isort, envo-black, pangea-isort, pangea-black

[envo] Refactor, init doesn't spawn anymore.
  envo/envo/env.py
  envo/envo/scripts.py
  envo/envo/templates/env_comm.py.templ
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
  envo/tests/utils.py
Due: envo-isort, envo-black

[pangea] Make it flaky
  .bin/os.autoflake
  .bin/os.black
  .bin/os.isort
  .gitlab-ci.yml
  .pre-commit-config.yaml
  env_comm.py
  pangea/pangea/__init__.py
  pangea/pangea/cluster.py
  pangea/pangea/devops.py
  pangea/pangea/env.py
  pangea/pangea/scripts.py
  pangea/pangea/templates/cluster.templ.py
  pangea/pangea/templates/env_comm.templ.py
  pangea/tests/conftest.py
  pangea/tests/test_all.py
  pangea/tests/test_e2e.py
  pangea/tests/test_unit.py
  pangea/tests/utils.py
  poetry.lock
  pyproject.toml
Due: pangea-isort, pangea-black

[envo] Refactor handling raw variables.
  envo/envo/__init__.py
  envo/envo/env.py
  envo/poetry.lock
  envo/pyproject.toml
  envo/tests/parent_env/__init__.py
  envo/tests/parent_env/child_env/__init__.py
  envo/tests/parent_env/child_env/env_comm.py
  envo/tests/parent_env/child_env/env_test.py
  envo/tests/parent_env/env_comm.py
  envo/tests/parent_env/env_test.py
  envo/tests/raw_env/env_comm.py
  envo/tests/test_unit.py
Due: envo-isort, envo-black

[envo] Add parent feature
  envo/envo/env.py
  envo/envo/scripts.py
  envo/envo/templates/env.py.templ
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/parent_env/__init__.py
  envo/tests/parent_env/child_env/env_comm.py
  envo/tests/parent_env/child_env/env_test.py
  envo/tests/parent_env/env_test.py
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
  envo/tests/utils.py
Due: envo-isort, envo-black

[os, comm, pangea] Add parents to envs.
  comm/env_comm.py
  comm/env_local.py
  env_comm.py
  pangea/env_comm.py
  pangea/env_local.py
Due: comm-isort, comm-black, pangea-isort, pangea-black

[envo] Refactor, add Meta class
  .gitignore
  comm/env_comm.py
  comm/env_local.py
  env_comm.py
  env_local.py
  envo/envo/__init__.py
  envo/envo/env.py
  envo/envo/templates/env.py.templ
  envo/envo/templates/env_comm.py.templ
  envo/poetry.lock
  envo/pyproject.toml
  envo/tests/nested_env/env_comm.py
  envo/tests/nested_env/env_test.py
  envo/tests/parent_env/child_env/env_comm.py
  envo/tests/parent_env/child_env/env_test.py
  envo/tests/parent_env/env_comm.py
  envo/tests/parent_env/env_test.py
  envo/tests/raw_env/env_comm.py
  envo/tests/raw_env/env_test.py
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
  envo/tests/undef_env/env_comm.py
  envo/tests/undef_env/env_test.py
  envo/tests/utils.py
  poetry.lock
  pyproject.toml
Due: comm-isort, comm-black, envo-isort, envo-black

[pangea] Refactor.
  comm/comm/fixtures.py
  comm/comm/utils.py
  comm/env_local.py
  envo/envo/comm/fixtures.py
  envo/envo/comm/utils.py
  envo/tests/conftest.py
  envo/tests/test_e2e.py
  envo/tests/utils.py
  pangea/env_comm.py
  pangea/env_local.py
  pangea/pangea/env.py
  pangea/pangea/scripts.py
  pangea/pangea/templates/cluster.py.templ
  pangea/pangea/templates/env.py.templ
  pangea/pangea/templates/env_comm.py.templ
  pangea/poetry.lock
  pangea/pyproject.toml
  pangea/tests/conftest.py
  pangea/tests/test_e2e.py
  pangea/tests/test_unit.py
Due: comm-isort, comm-black, envo-isort, envo-black, pangea-isort, pangea-black

[pangea] Fix tests.
  comm/comm/fixtures.py
  envo/envo/comm
  envo/envo/comm/__init__.py
  envo/envo/comm/fixtures.py
  envo/envo/comm/utils.py
  envo/envo/env.py
  envo/pyproject.toml
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
  pangea/pangea/apps/__init__.py
  pangea/pangea/cluster.py
  pangea/pangea/env.py
  pangea/pangea/scripts.py
  pangea/pangea/templates/cluster.py.templ
  pangea/pangea/templates/env.py.templ
  pangea/poetry.lock
  pangea/pyproject.toml
  pangea/tests/test_e2e.py
Due: comm-isort, comm-black, envo-isort, envo-black, pangea-isort, pangea-black

[envo] Fix importing.
  envo/envo/__init__.py
  envo/envo/env.py
Due: envo-isort, envo-black

[pangea] Add tests.
  envo/envo/env.py
  envo/envo/scripts.py
  pangea/pangea/__init__.py
  pangea/pangea/apps/ingress/env_comm.py
  pangea/pangea/apps/ingress/env_local.py
  pangea/pangea/apps/ingress/env_prod.py
  pangea/pangea/apps/ingress/env_stage.py
  pangea/pangea/apps/ingress/env_test.py
  pangea/pangea/apps/ingress/values/values.yaml
  pangea/pangea/cluster.py
  pangea/pangea/kube.py
  pangea/pangea/pkg_vars.py
  pangea/pangea/scripts.py
  pangea/pangea/templates/cluster.py.templ
  pangea/pangea/templates/kind.yaml.templ
  pangea/poetry.lock
  pangea/pyproject.toml
  pangea/tests/conftest.py
  pangea/tests/test_unit.py
Due: envo-isort, envo-black, pangea-isort, pangea-black

[envo] Add undeclared validation
  envo/.flake8
  envo/envo/env.py
  envo/envo/scripts.py
  envo/tests/conftest.py
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
  envo/tests/undecl_env/__init__.py
  envo/tests/undecl_env/env_comm.py
  envo/tests/undecl_env/env_test.py
  envo/tests/undef_env/env_test.py
  envo/tests/unset_env/__init__.py
  envo/tests/unset_env/env_comm.py
  envo/tests/unset_env/env_test.py
Due: envo-isort, envo-black

[pangea] Add tests.
  comm/comm/__init__.py
  comm/comm/fixtures.py
  pangea/pangea/__init__.py
  pangea/pangea/apps/ingress/values.yaml
  pangea/pangea/cluster.py
  pangea/pangea/env.py
  pangea/pangea/kube.py
  pangea/pangea/pkg_vars.py
  pangea/pangea/scripts.py
  pangea/pangea/templates/cluster.py.templ
  pangea/tests/conftest.py
  pangea/tests/test_e2e.py
  pangea/tests/test_e2e/__init__.py
  pangea/tests/test_e2e/conftest.py
  pangea/tests/test_e2e/test_e2e.py
  pangea/tests/test_unit/__init__.py
  pangea/tests/test_unit/conftest.py
  pangea/tests/test_unit/test_unit.py
  pangea/tests/test_unit/utils.py
Due: comm-isort, comm-black, pangea-isort, pangea-black

[envo] Refactor.
  envo/envo/__init__.py
  envo/envo/env.py
  envo/envo/scripts.py
  envo/poetry.lock
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/test_e2e.py
  envo/tests/test_unit.py
Due: envo-isort, envo-black

[envo] Refactor.
  comm/env_comm.py
  comm/poetry.lock
  comm/pyproject.toml
  envo/envo/env.py
  pangea/env_comm.py
  poetry.lock
Due: comm-isort, comm-black, envo-isort, envo-black, pangea-isort, pangea-black

[envo] Fix symlink issue.
  envo/envo/comm
  envo/envo/comm/__init__.py
  envo/envo/comm/fixtures.py
  envo/envo/comm/utils.py
  envo/pyproject.toml
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Fix property in env raises error issue.
  comm/comm/fixtures.py
  comm/poetry.lock
  comm/pyproject.toml
  envo/envo/comm/fixtures.py
  envo/envo/env.py
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/property_env/__init__.py
  envo/tests/property_env/env_comm.py
  envo/tests/property_env/env_test.py
  envo/tests/test_unit.py
  envo/tests/undecl_env/env_test.py
  envo/tests/unset_env/env_comm.py
  envo/tests/unset_env/env_test.py
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Refactor tests, fix hot reloading nested envs issue
  .pre-commit-config.yaml
  envo/envo/comm/fixtures.py
  envo/envo/scripts.py
  envo/mypy.ini
  envo/poetry.lock
  envo/pyproject.toml
  envo/tests/__init__.py
  envo/tests/conftest.py
  envo/tests/test_e2e/__init__.py
  envo/tests/test_e2e/conftest.py
  envo/tests/test_e2e/test_e2e.py
  envo/tests/test_unit/__init__.py
  envo/tests/test_unit/conftest.py
  envo/tests/test_unit/nested_env/__init__.py
  envo/tests/test_unit/nested_env/env_comm.py
  envo/tests/test_unit/nested_env/env_test.py
  envo/tests/test_unit/parent_env/child_env/__init__.py
  envo/tests/test_unit/parent_env/child_env/env_comm.py
  envo/tests/test_unit/parent_env/child_env/env_test.py
  envo/tests/test_unit/parent_env/env_comm.py
  envo/tests/test_unit/parent_env/env_test.py
  envo/tests/test_unit/property_env/__init__.py
  envo/tests/test_unit/property_env/env_comm.py
  envo/tests/test_unit/property_env/env_test.py
  envo/tests/test_unit/raw_env/__init__.py
  envo/tests/test_unit/raw_env/env_comm.py
  envo/tests/test_unit/raw_env/env_test.py
  envo/tests/test_unit/test_unit.py
  envo/tests/test_unit/undecl_env/__init__.py
  envo/tests/test_unit/undecl_env/env_comm.py
  envo/tests/test_unit/undecl_env/env_test.py
  envo/tests/test_unit/unset_env/__init__.py
  envo/tests/test_unit/unset_env/env_comm.py
  envo/tests/test_unit/unset_env/env_test.py
  envo/tests/test_unit/utils.py
  envo/tests/utils.py
  pangea/.bin/bootstrap
Due: comm-isort, comm-black, envo-isort, envo-black

[pangea] Refactor handling dependencies
  pangea/.bin/bootstrap
  pangea/env_comm.py
  pangea/pangea/cluster.py
  pangea/pangea/devops.py
  pangea/pangea/env.py
  pangea/pangea/templates/env_comm.py.templ
  pangea/poetry.lock
  pangea/pyproject.toml
  pangea/tests/test_e2e/conftest.py
  pangea/tests/test_e2e/test_e2e.py
Due: pangea-isort, pangea-black

[envo] Fix importing nested env issue.
  envo/envo/env.py
  envo/tests/test_e2e/test_e2e.py
  envo/tests/test_unit/test_unit.py
  pangea/.bin/bootstrap
  pangea/.bin/pg.bootstrap
  pangea/pangea/deps.py
  pangea/tests/__init__.py
  pangea/tests/test_e2e/__init__.py
Due: envo-isort, envo-black, pangea-isort, pangea-black

[envo] Refactor.
  envo/envo/comm/fixtures.py
  envo/envo/comm/test_utils.py
  envo/envo/env.py
  envo/tests/e2e/test_e2e.py
  envo/tests/unit/test_unit.py
Due: comm-isort, comm-black, envo-isort, envo-black

[pangea] Add deployment, refactor, add tests.
  comm/comm/__init__.py
  comm/comm/test_utils.py
  envo/envo/__init__.py
  pg/pangea/apps/__init__.py
  pg/pangea/apps/ingress/__init__.py
  pg/pangea/apps/ingress/app.py
  pg/pangea/apps/ingress/env_comm.py
  pg/pangea/apps/ingress/templates/app.py.templ
  pg/pangea/apps/ingress/templates/env_comm.py.templ
  pg/pangea/cluster.py
  pg/pangea/env.py
  pg/pangea/kube.py
  pg/pangea/scripts.py
  pg/pangea/templates/cluster.py.templ
  pg/pangea/templates/env_comm.py.templ
  pg/tests/e2e/conftest.py
  pg/tests/e2e/test_e2e.py
  pg/tests/unit/conftest.py
  pg/tests/unit/test_unit.py
Due: comm-isort, comm-black, envo-isort, envo-black, pangea-isort, pangea-black

[pangea] Add deployment test.
  pg/pangea/apps/__init__.py
  pg/pangea/apps/ingress/values.yaml
  pg/pangea/cluster.py
  pg/pangea/devices.py
  pg/tests/e2e/test_e2e.py
  poetry.lock
Due: pangea-isort, pangea-black

[pangea] Optimize tests
  comm/comm/__init__.py
  pg/.bin/pg.bootstrap
  pg/env_comm.py
  pg/pangea/apps/__init__.py
  pg/pangea/apps/registry/app.py
  pg/pangea/apps/registry/env_comm.py
  pg/pangea/apps/registry/templates/app.py.templ
  pg/pangea/apps/registry/templates/env.py.templ
  pg/pangea/apps/registry/templates/env_comm.py.templ
  pg/pangea/apps/registry/values.yaml
  pg/pangea/cluster.py
  pg/pangea/devices.py
  pg/pangea/kube.py
  pg/pangea/templates/env_comm.py.templ
  pg/tests/e2e/conftest.py
  pg/tests/e2e/test_e2e.py
  pg/tests/unit/conftest.py
  pg/tests/unit/test_unit.py
Due: comm-isort, comm-black, pangea-isort, pangea-black

[pangea] Add more tests, refactor.
  comm/comm/__init__.py
  comm/comm/test_utils.py
  envo/envo/env.py
  envo/tests/e2e/conftest.py
  envo/tests/e2e/test_e2e.py
  envo/tests/unit/parent_env/child_env/env_comm.py
  envo/tests/unit/parent_env/child_env/env_test.py
  envo/tests/unit/test_unit.py
  pg/env_comm.py
  pg/env_local.py
  pg/pangea/apps/__init__.py
  pg/pangea/apps/ingress/app.py
  pg/pangea/apps/ingress/env_comm.py
  pg/pangea/apps/ingress/templates/app.py.templ
  pg/pangea/apps/ingress/templates/env.py.templ
  pg/pangea/apps/ingress/templates/env_comm.py.templ
  pg/pangea/apps/registry/__init__.py
  pg/pangea/apps/registry/app.py
  pg/pangea/apps/registry/env_comm.py
  pg/pangea/apps/registry/templates/app.py.templ
  pg/pangea/apps/registry/templates/env.py.templ
  pg/pangea/apps/registry/templates/env_comm.py.templ
  pg/pangea/apps/registry/values.yaml
  pg/pangea/cluster.py
  pg/pangea/env.py
  pg/pangea/scripts.py
  pg/pangea/templates/cluster.py.templ
  pg/pangea/templates/env.py.templ
  pg/pangea/templates/env_comm.py.templ
  pg/tests/conftest.py
  pg/tests/e2e/conftest.py
  pg/tests/e2e/test_e2e.py
  pg/tests/unit/conftest.py
  pg/tests/unit/test_unit.py
  pg/tests/unit/utils.py
  pg/tests/utils.py
Due: comm-isort, comm-black, envo-isort, envo-black, pangea-isort, pangea-black

[pangea] Add DSN server.
  pg/.bin/pg.bootstrap
  pg/env_comm.py
  pg/pangea/cluster.py
  pg/pangea/deps.py
  pg/pangea/env.py
  pg/pangea/templates/dns_server_config.json
  pg/pangea/templates/env_comm.py.templ
  pg/poetry.lock
  pg/pyproject.toml
  pg/tests/e2e/conftest.py
  pg/tests/e2e/test_e2e.py
  pg/tests/unit/conftest.py
  pg/tests/unit/test_unit.py
Due: pangea-isort, pangea-black

[envo] Fix mypy
  comm/poetry.lock
  comm/pyproject.toml
  comm/tests/test_all.py
  envo/envo/env.py
  envo/pyproject.toml
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Fix existing __init__.py issue. Refactor parent handling
  comm/env_comm.py
  comm/env_local.py
  env_comm.py
  envo/README.rst
  envo/envo/env.py
  envo/envo/scripts.py
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/e2e/conftest.py
  envo/tests/e2e/test_e2e.py
  envo/tests/unit/conftest.py
  envo/tests/unit/parent_env/child_env/env_comm.py
  envo/tests/unit/parent_env/env_comm.py
  envo/tests/unit/parent_env/env_test.py
  envo/tests/unit/test_unit.py
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Fix edge case - directories with same name
  comm/env_comm.py
  comm/env_local.py
  envo/envo/env.py
  envo/envo/scripts.py
  envo/pyproject.toml
  envo/tests/e2e/conftest.py
  envo/tests/e2e/test_e2e.py
  envo/tests/e2e/utils.py
  envo/tests/unit/parent_env/child_env/env_comm.py
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Fix quick saving issue.
  envo/README.rst
  envo/envo/scripts.py
  envo/pyproject.toml
  envo/tests/conftest.py
  envo/tests/e2e/test_e2e.py
  envo/tests/unit/test_unit.py
Due: envo-isort, envo-black

[envo] Handle weird directory names
  comm/comm/__init__.py
  comm/tests/test_all.py
  env_local.py
  envo/README.rst
  envo/envo/comm/__init__.py
  envo/envo/comm/fixtures.py
  envo/envo/comm/test_utils.py
  envo/envo/env.py
  envo/envo/scripts.py
  envo/envo/templates/env.py.templ
  envo/envo/templates/env_comm.py.templ
  envo/pyproject.toml
  envo/tests/e2e/test_e2e.py
  envo/tests/unit/test_unit.py
  pg/env_comm.py
  pg/env_local.py
Due: comm-isort, comm-black, envo-isort, envo-black

[envo] Refactor
  envo/envo/env.py
  envo/envo/scripts.py
Due: envo-isort, envo-black

[envo] Switch from bash to xonsh
  .bin/os.autoflake
  .bin/os.black
  .bin/os.isort
  comm/env_comm.py
  comm/env_local.py
  env_comm.py
  env_local.py
  envo/envo/comm/test_utils.py
  envo/envo/env.py
  envo/envo/scripts.py
  envo/envo/templates/env.py.templ
  envo/envo/templates/env_comm.py.templ
  envo/poetry.lock
  envo/pyproject.toml
  envo/tests/e2e/conftest.py
  envo/tests/e2e/test_e2e.py
  envo/tests/unit/conftest.py
  envo/tests/unit/test_unit.py
  envo/tests/unit/utils.py
  poetry.lock
Due: comm-isort, comm-black, envo-isort, envo-black

Path conditions:
  comm-isort: any of: comm/.*.py
  comm-black: any of: comm/.*.py
  envo-isort: any of: envo/.*.py, but not: envo/templates
  envo-black: any of: envo/.*.py, but not: envo/templates
  pangea-isort: any of: pangea/.*.py, but not: pangea/templates
  pangea-black: any of: pangea/.*.py, but not: pangea/templates
  rhei-isort: any of: rhei/.*.py, but not: rhei/templates
  rhei-black: any of: rhei/.*.py, but not: rhei/templates
  stickybeak-isort: any of: stickybeak/.*.py, but not: stickybeak/templates
  stickybeak-black: any of: stickybeak/.*.py, but not: stickybeak/templates
